@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

:root {
    --Strong-Cyan: hsl(171, 66%, 44%);
    --Light-Blue: hsl(233, 100%, 69%);
    --Dark-Grayish-Blue: hsl(210, 10%, 33%);
    --Grayish-Blue: hsl(201, 11%, 66%);

    --font-regular: 400;
    --font-bold: 600;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 15px;
    font-family: 'Bai Jamjuree';
    font-weight: var(--font-regular);
}

main {
    display: grid;
    gap: 4rem;
}

section {
    text-align: center;
    display: grid;
    gap: 2rem;
}

h1, h2, h3 { 
    color: var(--Dark-Grayish-Blue); 
    font-weight: var(--font-bold);
}

p, small { 
    margin: auto;
    color: var(--Grayish-Blue);
}

button,
a { cursor: pointer; }


/*-----------------------------------*\
  #HEADER
\*-----------------------------------*/
.header {
    background-image: url(images/bg-header-mobile.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.header-logo {
    text-align: center;
    margin: 0 auto;
    width: 20%;
    padding-top: 5rem;
}

h1 { font-size: 1.6rem; }

.header p { padding: 0 1rem; }

.btns {
    display: flex;
    flex-direction: column;
    width: 15rem;
    gap: 1rem;
    margin: 0 auto;
}

.left-btn {
    border: none;
    background-color: var(--Light-Blue);
    padding: 0.7rem 1.5rem;
    border-radius: 1rem;
    color: white;
    box-shadow: 1px 2px 6px 1px var(--Grayish-Blue);
}

.right-btn {
    border: none;
    background-color: var(--Strong-Cyan);
    padding: 0.7rem 1.5rem;
    border-radius: 1rem;
    color: white;
    box-shadow: 1px 2px 6px 1px var(--Grayish-Blue);
}

.left-btn:hover,
.right-btn:hover { opacity: 0.5; }

/*-----------------------------------*\
  #INFO CONTAINER
\*-----------------------------------*/
.info-container { padding: 0 1rem; }

.inner-content,
.center-container {
    display: grid;
    gap: 1.5rem;
}

.inner-content {
    background-image: url(images/image-computer.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    padding-top: 7rem;
}

.box {
    display: grid;
    gap: 1.5rem;
    position: relative;
    top: 17rem; 
}

h3 { margin-bottom: 5px; }

.center-container { margin-top: 17rem; }

.device { width: 100%; }


/*-----------------------------------*\
  #WORKFLOW
\*-----------------------------------*/
small { margin-top: -1.6rem; }

.grid-conatiner {
    display: grid;
    gap: 2rem;
}

.img-1 { 
    width: 10%; 
    margin-bottom: 5px;
}

.grid-content p { padding: 0 1.5rem; }

/*-----------------------------------*\
  #IMG CONTAINER
\*-----------------------------------*/
.img-container { margin: auto; }

.img-2 { width: 80%; }

/*-----------------------------------*\
  #CONTAINER
\*-----------------------------------*/
.container { padding: 0 1.5rem; }

/*-----------------------------------*\
  #FOOTER
\*-----------------------------------*/
footer {
    margin-top: 5rem;
    background-color: var(--Grayish-Blue);
    text-align: center;
    padding-top: 1rem;
}

.footer-logo {
    width: 15%;
    margin: 0 auto;
    padding-bottom: 1rem;
}

li { 
    list-style: none;
    margin-bottom: 10px;
    cursor: pointer; 
}

li:hover {
    color: var(--Strong-Cyan);
    font-weight: var(--font-bold);
}

.icons {
    text-align: center;
    /* margin: auto; */
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    margin: auto;
}

#img-3 { 
    padding-right: 5px;
    width: 6%; 
    cursor: pointer;
}

.attribution {
    font-size: 11px;
    margin-top: -1rem;
    color: var(--Dark-Grayish-Blue);
    padding-bottom: 1rem;
}

a { 
    text-decoration: none; 
    color: var(--Dark-Grayish-Blue);
}

/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/
@media (min-width: 768px) {
    .header {
        background-image: url(images/bg-header-desktop.png);
        background-size: 100%;
    }

    .header-logo { width: 10%; }

    .header p,
    .info-container p,
    .container p {
        max-width: 27rem;
        margin: auto;
    }

    .btns { 
        flex-direction: row; 
        width: 21rem;
    }

    .info-container { padding: 0; }

    .inner-content {
        background-position: -65%;
        background-size: 70%;
        padding-top: 15rem;
    }

    .box {
        top: -10rem;
        text-align: left;
        margin: auto;
        left: 12.5rem;
        max-width: 20rem;
    }

    .center-container { margin-top: 1rem; }

    .device {
        margin: auto;
        width: 80%;
    }

    .grid-conatiner {
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        align-items: flex-start;
    }

    .img-container {
        margin: auto;
        display: flex;
        gap: 1.8rem;
        padding: 0 1rem;
    }

    .img-2 {
        width: 16%;
        margin-bottom: 1rem;
    }

    footer { margin-top: 3rem; }

    .footer-container {
        display: flex;
        align-items: center;
    }

    .links {
        display: grid;
        grid-template-columns: repeat(3, 9rem);
        align-items: baseline;
    }

    #img-3 { width: 20%; }

    .footer-logo { width: 10%; }
}

@media (min-width: 1024px) {
    .inner-content { 
        padding-top: 35rem;
        background-position: -45%;
        background-size: 65%; 
    }

    .box {
        top: -21rem;
        left: 15rem;
        max-width: 30rem;
        gap: 2rem;
    }

    .device { width: 60%; }

    .img-container {
        padding: 2rem 0;
        gap: 5rem;
    }

    .footer-logo { width: 7%; }

    #img-3 { 
        width: 30%;
        padding-right: 10px;
    }
}